<nav class="navbar">
    <div class="nav-container">
        <div class="logo-sec">
            <a routerLink="/products" class="nav-logo">
                LUXE BRANDS
            </a>
            
        </div>
<ul class="nav-menu">
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link" routerLinkActive="active">Women</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link" routerLinkActive="active">Men</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link" routerLinkActive="active">Kids</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link" routerLinkActive="active">Accessories</a>
                </li>
            </ul>

        <div class="nav-icons">
            <div class="nav-i" routerLink="/cart">
                <p>🛒 Cart <span class="red-count" *ngIf="cartCount > 0">{{cartCount}}</span></p>
            </div>
            <div class="nav-i" *ngIf="authService.isAuthenticated$ | async">
                <button class="logout-btn" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>